{% extends 'base.html.twig' %}


{% block top_bar %}

    <body>
    <div class="top-bar">
        <div class="row">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="{{ path("index_clients")}}">Clients</a></li>
                    <li><a href="{{ path("reservations")}}">Reservations</a></li>
                    <li><input type="text" name="ajax_search" placeholder="Search.."></li>
                </ul>
            </div>
        </div>
    </div>
    </body>

{% endblock %}

{% block body %}

    {{ dump() }}


{% endblock %}
