{% extends 'base.html.twig' %}

{% block body %}
    {{ dump() }}

    <div class="row">
      <div class="medium-12 large-12 columns">
        <h4>Reservations</h4>

        <table class="stack">
          <thead>
            <tr>
              <th width="200">ROOM</th>
              <th width="200">Name</th>
              <th width="200">DATES</th>
              <th width="200">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for room in rooms %}
          <td>101</td>
          <td>naeme</td>

          <td>{{ room }}</td>

          <td>action</td>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% endblock %}
