{% extends 'base.html.twig' %}



{% block body %}
    <!DOCTYPE html>



    <body>
<h1 class="page-header text-center">

    {{ app.user ? app.user.email }}</h1>

<h1 align="center"><a href="{{ path('genus_all')}} ">Species Database</a></h1><br/>



    <div class="container-fluid">


        <div class="row">

            <div class="col-sm-3" style="background-color:lavender;">

                <h2 style="padding: 5%">Eight major taxonomic ranks</h2>
                <img style="padding: 15%" src="/11.Edu_Symfony3_blog/web/images/Biological_classification.png">

            </div>


            <div class=" col-sm-6" style="background-color:lavenderblush;">
                <div style="width: 103%">
                <button type="button" class="btn btn-primary">Domain</button>
                <button type="button" class="btn btn-primary">Kingdom</button>
                <button type="button" class="btn btn-primary">Phylum</button>
                <button type="button" class="btn btn-primary">Class</button>
                <button type="button" class="btn btn-primary">Order</button>
                <button type="button" class="btn btn-primary">Family</button>
                <button type="button" class="btn btn-primary">Genus</button>
                <button type="button" class="btn btn-primary">Species</button>
                </div>
            </div>


            <div class="col-sm-3" style="background-color:lavender;">

            <h4 style="padding: 5%">Worldwide Identification codes</h4>

              <ul>

                  <li><a href="https://en.wikipedia.org/wiki/Taxonomic_rank">Taxonomic rank</a> </li>
                  <li><a href="https://en.wikipedia.org/wiki/Global_Species_Database">Global Species Database</a> </li>
                  <li><a href="https://en.wikipedia.org/wiki/National_Center_for_Biotechnology_Information">National Center for Biotechnology Information (NCBI)</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/KEGG">Kyoto Encyclopedia of Genes and Genomes (KEGG)</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/UniProt">UniProt</a> </li>
                  <li><a href="https://en.wikipedia.org/wiki/Integrated_Taxonomic_Information_System">Integrated Taxonomic Information System (ITIS)</a> </li>
              </ul>

                <h4>Worldwide Identification codes</h4>

                <ul>
                    <li><a href="https://en.m.wikipedia.org/wiki/Fossil">Fossil</a> </li>
                    <li><a href="https://en.wikipedia.org/wiki/National_Center_for_Biotechnology_Information">National Center for Biotechnology Information (NCBI)</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/KEGG">Kyoto Encyclopedia of Genes and Genomes (KEGG)</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Integrated_Taxonomic_Information_System">Integrated Taxonomic Information System (ITIS)</a> </li>
                </ul>
                <h4>Worldwide Identification codes</h4>

                <ul>

                    <li><a href="https://en.wikipedia.org/wiki/National_Center_for_Biotechnology_Information">National Center for Biotechnology Information (NCBI)</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/KEGG">Kyoto Encyclopedia of Genes and Genomes (KEGG)</a></li>

                </ul>
            </div>

        </div>

    </div>

</body>




{% endblock %}
