h3 {
	font-weight:400px;
	font-size:18px;
}
body {
	background-color: #ffcccc;
}

p {
	margin: 10px;
	text-align: left;
	color:#484343; 
    font-weight:400px;
	font-size:16px;
    font-height:24px;
    margin-left: 10px;
}
button{
	margin: 20px 5px;

}
button:hover{
	background-color:#99ccff;
}

.prod{
	height: 400px;
	width: 500px;
}
