{% extends 'base.html.twig' %}




{% block body %}

<center><h2>Contact Information</h2></center>
<center><p>198 West 21th Street,Suite 721 New York NY 10016</p>
       <p>Tel:+ 1235 1155 98</p>
       <p>Email: g.khachatrian.job@gmail.com</p></center>


    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10">

                <h4 class="heading">Get In Touch</h4>
            </div>
        </div>
    </div>
    </div>




    <div class="site-section">
        <div class="container">
            <div class="row block-9">
                <div class="col-md-6 pr-md-5">
                    <form action="#">
                        <div class="form-group">
                            <input type="text" class="form-control px-3 py-3" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control px-3 py-3" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control px-3 py-3" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="7" class="form-control px-3 py-3" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                           <!-- <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">-->
                            <a class="medium-6  columns" href="#"><input type="submit" class="button"  value="SEND MESSAGE"></a>
                        </div>
                    </form>

                </div>


        </div>
    </div>

        <center> <b><h5>Opening Hours</h5></b></center>
        <center> <p><li>Monday - Saturday  8:00 - 22:00</li></p></center>

{% endblock %}
