{% extends 'base.html.twig' %}




{% block body %}
    <!DOCTYPE html>
    <html>
    <head>
        <style>
            /* Set the size of the div element that contains the map */
            #map {
                height: 400px;  /* The height is 400 pixels */
                width: 100%;  /* The width is the width of the web page */
            }
        </style>
    </head>
    <body>
    <center><h2>Find us with Google Maps</h2></center>

    <center><h5>198 West 21th Street,Suite 721 New York NY 10016</h5><hr></center>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru 40.743022, -73.996508
            var uluru = {lat: 40.743022, lng: -73.996508};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 4, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhu2ghNY3uQubhWnDMY3sUS0135x9FdLc&callback=initMap">
    </script>
    </body>
    </html>
{% endblock %}
